.text-transform {
  text-transform: uppercase;
}
.title-text {
  font-variant: noraml;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  font-family: roboto;
}

/* Buttons */
.button {
  padding: 0.8rem 2.2rem;
  font: normal bold 16px/20px roboto;
  border-radius: 4px;
  border: 3px solid transparent;
}
.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--shadow-color);
  position: relative;
}
.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}
.button.primary-button::after,
.button.secondary-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: var(--gradient-color);
  z-index: -1;
  border-radius: 4px;
}
.button.secondary-button {
  background: whitesmoke;
  background-clip: padding-box;
  transition: background 0.6s ease;
  position: relative;
}
.button.secondary-button:hover {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  box-shadow: var(--shadow-color);
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/25px roboto;
}
