/* google font integration */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

@import url("./global.css");
@import url(./variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* Header Area start */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0rem 2rem 0rem 5rem;
}
.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .navbar .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1rem 500;
  font-weight: 500;
  padding: 1.75rem;
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
}
.header_area .main-menu .navbar .navbar-nav a.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Header Area end */

/* Banne Area start */

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  width: 18vw;
  height: 2px;
  background-color: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
}

/* Banne Area end */

/* About Area start */

.site-main .about-area {
  padding: 8rem 5rem;
}
.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px roboto;
  letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

/* About Area end */

/* Brand Area start */

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
.site-main .brand-area .row .col-lg-4{
    display: flex;
    justify-content: center;
}
.site-main .brand-area .row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0rem;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}
.site-main .brand-area .row .col-lg-4 > .single-brand > img{
    width:50%;
}
.site-main .brand-area .row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.site-main .brand-area .row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(.25);
} 
.site-main .brand-area .experience-area{
    padding-left: 1rem;
    position: relative;
}
.site-main .brand-area .experience-area span{
    display: block;
}
.site-main .brand-area .experience-area .years-area{
    background: url('../images/client-info-bg.png') no-repeat 45px 25px;
    padding: 2rem 0rem 2rem 10rem;
    width: 40rem;
    height: 18rem;
}
.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -200px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -2;
}
.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 80px/40px roboto;
    color: var(--primary-color);
    z-index: 2;
}
.site-main .brand-area .experience-area .years-area h2> span{
    font: normal 600 22px/30px roboto;
}
.site-main .brand-area .experience-area .call-area{
   padding-left:11.2rem;
}



/* Brand Area end */


/* Service area start */

.site-main .services-area{
    padding: 7rem 2rem;
}
.site-main .services-area .service-title{
    padding: 0rem 14rem;
}
.site-main .services-area .service-title h1{
    font-size: 35px;
}
.site-main .services-area .service{
    background:rgba(248,252,253,0.973);
    padding: 2rem 0rem;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow 0.7s ease;
}
.site-main .services-area .service:hover{
    box-shadow: var(--box-shadow);
}

/* Service area end */


/* Project Area start */

.site-main .project-area{
  padding: 4rem 0rem;
}
.site-main .project-area .button-group button{
  background: transparent;
  border: none;
  font: normal 500 16px/130px roboto;
  text-transform: uppercase;
}
.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}
.site
.site-main .project-area .grid .our-project > .title h4{
  font:normal 700 25px/12px roboto;
}
.site-main .project-area .grid .our-project a > img{
  transition: all 0.3s ease-in-out;
}
.site-main .project-area .grid .our-project .img a:hover img{
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* Project Area end */





















